<style type="text/css">
	#contact {
		margin-top: 40px;
	}
	#contact .map iframe {
		width: 100%;
		height: 400px;
	}
	#contact .area {
		width: 100%;
		float: left;
	}
	#contact .area .info-area {
		width: 44%;
		float: left;
		margin-left:59px;
	}
	#contact .address table td {
		vertical-align: top;
	}
	
	@media (max-width: 768px) {
		#contact .map iframe {
			height: 300px;
		}
  	#contact .area {
			width: 100%;
			float: none;
		}
		#contact .area .info-area {
			width: 80%;
			float: none;
			margin: 0 auto;
		}
		#contact .address {
			font-size: 16px;
		}
		#contact h2 {
			font-size: 26px;
		}

  }
</style>
<br>
<br>
<div id="contact">
	<div class="area">
		<div class="map info-area">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3673.928749701108!2d120.301802!3d22.952851!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e722c14c6f78d%3A0xa415bc91f2530974!2z5b-g56W66ZG955-z5LyB5qWt5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1394848391923" width="400" height="300" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="address info-area">
			<address>
			  <h2><strong><%= t('company') %></strong></h2>
			  <br>
			  <br>
			  <table>
			  	<tr>
			  		<td><i class="fa fa-home"></i></td>
			  		<td>711 <%= t('contact_page.address') %></td>
			  	</tr>
			  	<tr>
			  		<td><i class="fa fa-phone"></i></td>
			  		<td>06-2394705</td>
			  	</tr>
			  	<tr>
			  		<td></td>
			  		<td>06-2394706</td>
			  	</tr>
			  	<tr>
			  		<td><i class="fa fa-print"></i></td>
			  		<td>06-2394579</td>
			  	</tr>
			  	<tr>
			  		<td><i class="fa fa-envelope"></i></td>
			  		<td><a href="mailto:#">siufe.tsai@jongchyi.com.tw</a></td>
			  	</tr>
			  </table>
			</address>
		</div>
	</div>
	<div class="area">
		<br>
		<br>
		<hr>
		<br>
		<br>
	</div>
	<div class="area">
		<div class="map info-area">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3683.412242727461!2d114.13174199999999!3d22.601076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f54d8b43e2e3%3A0xc559f2da2dee31d2!2z5ZCJ55ub5piM5bel5qWt5Y2A!5e0!3m2!1szh-TW!2stw!4v1393554410845" frameborder="0" style="border:0"></iframe>
		</div>	
		<div class="address info-area">
			<address>
			  <h2><strong><%= t('company_cn') %></strong></h2>
			  <br>
			  <br>
			  <table>
			  	<tr>
			  		<td><i class="fa fa-home"></i></td>
			  		<td><%= t('contact_page.address_cn') %></td>
			  	</tr>
			  	<tr>
			  		<td><i class="fa fa-phone"></i></td>
			  		<td>0755-28883568</td>
			  	</tr>
			  	<tr>
			  		<td></td>
			  		<td>0755-28883768</td>
			  	</tr>
			  	<tr>
			  		<td></td>
			  		<td>0755-28882764</td>
			  	</tr>
			  	<tr>
			  		<td><i class="fa fa-print"></i></td>
			  		<td>0755-28882291</td>
			  	</tr>
			  	<tr>
			  		<td><i class="fa fa-envelope"></i></td>
			  		<td><a href="mailto:#">jcd.sz@163.com</a></td>
			  	</tr>
			  </table>
			</address>
		</div>
	</div>
</div>