<br>
<br>
<div class="col-sm-10 col-sm-offset-1">
	<div class="col-sm-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d813.5854066504511!2d120.30192711121231!3d22.952717281906875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d22.9527948!2d120.3017453!5e1!3m2!1szh-TW!2stw!4v1393551826126" width="400" height="300" frameborder="0" style="border:0"></iframe>
	</div>	
	<div class="col-sm-6">
		<address>
		  <h2><strong><%= t('company') %></strong></h2><br>
		  <br>
		  <i class="fa fa-home"></i> 711 <%= t('contact_page.address') %>
		  <br>
		  <i class="fa fa-phone"></i> 06-2394705
		  <br>
		  &nbsp;&nbsp;&nbsp;&nbsp;06-2394706
		  <br>
		  <i class="fa fa-print"></i> 06-2394579</a>
		  <br>
		  <i class="fa fa-envelope"></i> <a href="mailto:#">siufe.tsai@jongchyi.com.tw</a><br>
		</address>
	</div>	
</div>
<div class="col-sm-10 col-sm-offset-1">
	<br>
	<br>
	<hr>
	<br>
	<br>
</div>
<div class="col-sm-10 col-sm-offset-1">
	<div class="col-sm-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3683.412242727461!2d114.13174199999999!3d22.601076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f54d8b43e2e3%3A0xc559f2da2dee31d2!2z5ZCJ55ub5piM5bel5qWt5Y2A!5e0!3m2!1szh-TW!2stw!4v1393554410845" width="400" height="300" frameborder="0" style="border:0"></iframe>
	</div>	
	<div class="col-sm-6">
		<address>
		  <h2><strong><%= t('company_cn') %></strong></h2><br>
		  <br>
		  <i class="fa fa-home"></i> <%= t('contact_page.address_cn') %>
		  <br>
		  <i class="fa fa-phone"></i> 0755-28883568
		  <br>
		  &nbsp;&nbsp;&nbsp;&nbsp;0755-28883768
		  <br>
		  &nbsp;&nbsp;&nbsp;&nbsp;0755-28882764
		  <br>
		  <i class="fa fa-print"></i> 0755-28882291</a>
		  <br>
		  <i class="fa fa-envelope"></i> <a href="mailto:#">jcd.sz@163.com</a><br>
		</address>
	</div>	
</div>