<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">忠祺鑽石後台登入</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => session_path(resource_name), html: { autocomplete: 'off' },
    role: "form") do |f| %>
  
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= f.text_field :username, :autofocus => true, class: "form-control", placeholder: '帳號' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= f.password_field :password, class: "form-control", placeholder: '密碼' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <%= f.submit "登入", class: "col-sm-12 btn btn-primary" %>
        </div>
      </div>
      <% end %> 

    </div>
  </div>