<li>
  <%= link_to t('product.sample'), products_path(1, Product.cates[1]) %>
</li>
<li>
  <%= link_to t('nav_support'), support_path %>
</li>
<li>
  <%= link_to t('nav_contact'), contact_path %>
</li>